.container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url("/slanted-gradient.svg") no-repeat;
  background-size: cover;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

.desc_wrapper {
  padding-left: 10pt;
  padding-bottom: 20pt;
}

.image {
  height: 200pt;
  width: 200pt;
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

.image_wrapper {
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.box {
  position: absolute;
  border-radius: 50%;
  height: 230pt;
  width: 230pt;
  background-image: linear-gradient(to right, rgb(10, 59, 149), rgb(2, 2, 32));
  z-index: 0;
}

@media screen and (max-width: 700px) {
  .wrapper {
    flex-direction: column;
  }
}
