.container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: auto;
  border: 1px solid transparent;
  height: 45pt;
  background-image: linear-gradient(
    to right,
    rgb(223, 223, 223),
    rgb(253, 253, 253),
    rgb(169, 168, 175)
  );
  padding-left: 5pt;
  padding-right: 5pt;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  z-index: 1;
}

.item {
  padding-left: 10pt;
  padding-right: 5pt;
  cursor: pointer;
  font-size: 13pt;
}
