.container {
  margin-top: 40pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.catalog_item {
  border: 1px solid white;
  width: 200pt;
  height: 200pt;
  margin: 10pt;
}
